/** @format */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #2d2d2d !important;
  top: 0px;
  bottom: 0px;
  padding: 30px 20px;
  z-index: 99999999999999999999999999999999;
  img {
    position: relative;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 150px;
  }

  h3 {
    color: white;
  }
  ul {
    color: white;
    list-style: none;
    padding: 20px;
    margin: 0px;

    li {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
